a:hover{
    /* 清除链接下划线 */
    text-decoration:none;
}
.beijing{
    background: url(../images/图片_1454.jpg);
    width: 100%;
    height: 755px;
    /* 调整背景图片位置，第一个参数调整水平位置，第二个参数调整垂直位置 */
    background-position :0px -200px;
    
}
.wenzi{
    padding-top: 8%;
    margin-left: 55%;
    color:orange;
    font-family:  Cursive;
}

